.App a {
  color: #3242b9;
  font-family: "Patrick Hand";
  font-size: 20px;
}

.App h1 {
  font-size: 60px;
  color: #32a138;
  margin-top: 5px;
}

.App .github-repository {
  margin-top: 8px;
  margin-left: 4px;
}

.App .github-repository p,
.github-link {
  display: inline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.App .github-link {
  color: #283593;
  font-weight: 300;
}

.App .github-link:hover {
  text-decoration: none;
  color: #4aa139;
}
