.Temperature .row.temperature {
  margin-top: 0;
}

.Temperature .col-sm-4.weather-now {
  margin: -5px -49px 0 -15px;
}

.Temperature .col-sm-4.weather-now img {
  width: 70px;
  margin-top: 14px;
  position: relative;
  left: -10px;
}

.Temperature .col.degree-type {
  border: 2px solid #1b2465;
  border-radius: 4px;
  max-width: fit-content;
  margin: 6px 10px auto 0;
}

.Temperature .col-C,
.col-F {
  display: inline;
  letter-spacing: 2px;
}

.Temperature .col-C {
  margin-right: 5px;
  border-right: 2px solid #1b2465;
  padding-right: 3px;
}

.Temperature .col-F {
  padding-left: 5px;
}

.Temperature .col.degree-type a.active {
  font-weight: bold;
}
